<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
   
    <title>探头的橘子的博客</title>

      <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/lightbox.css">
<!--TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->

    @await RenderSectionAsync("head",false)
</head>
<body>
   <!--header-->
  <header class="main-header " id="m-header">
    <div class="logo">
      <a href="#"><em>ARO&nbsp;</em> </a>
    </div>
   @* <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>*@

    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/home/index">主页</a></li>
        <li class="has-submenu"><a href="#section2">学习笔记</a>
          <ul class="sub-menu">
            <li><a href="/Article/ArticleList">全部内容</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
            <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li>
          </ul>
        </li>
        <li><a href="#section4">影集</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a onclick="scrollToView('section6')">联系我</a></li>
        <li><a href="" class="external">后门</a></li>
      </ul>
    </nav>
    
  </header>
@*    <div id="nav-BG"></div>*@

        <main role="main" class="pb-3">
            @RenderBody()
      

  </main>
 
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> &copy; 2022 - AROBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
      </div>
    </div>
  </footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/assets/js/isotope.min.js"></script>
<script src="~/assets/js/owl-carousel.js"></script>
<script src="~/assets/js/lightbox.js"></script>
<script src="~/assets/js/tabs.js"></script>
<script src="~/assets/js/video.js"></script>
<script src="~/assets/js/slick-slider.js"></script>
<script src="~/assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                scrollTop: reqSectionPos
            },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function() {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
            }
        });
    };

    //$('.main-menu, .scroll-to-section').on('click', 'a', function(e) {
    //    if ($(e.target).hasClass('external')) {
    //        return;
    //    }
    //    e.preventDefault();
    //    $('#menu').removeClass('active');
    //    showSection($(this).attr('href'), true);
    //});

    //$(window).scroll(function() {
    //    checkSection();
    //});
</script>
<script type="text/javascript">
    function scrollToView(id){
        document.getElementById(id).scrollIntoView({
            block: 'start',
            inline: 'nearest',
            behavior: 'smooth'
        })
    }
</script>
 <script>
    window.addEventListener('scroll', () => {
      let header = document.querySelector('header')
      header.classList.toggle('sticky', window.scrollY > 0)
    })
  </script>
    @await RenderSectionAsync("bottom",false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
