@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*<div>
                <h3>单个文件上传</h3>
                <form asp-controller="Article" asp-action="PostArticle" enctype="multipart/form-data" method="post">
                    <input type="file" name="file" />
                    <ul>
                    @foreach (var categoryItem in ViewBag.CategoryIds)
                    {
                        <li class="categoryIds"><input type="checkbox" name="CategoryIds" value="@categoryItem.Id" />@categoryItem.CategoryName </li>
                    }
                </ul>
                    <button type="submit">submit</button>
                </form>
            </div>*@