@model IEnumerable<AROBlog.DTO.ArticleDTO>

@{
    ViewData["Title"] = "ArticleList";
}

<h2>ArticleList</h2>


<section class="articlelist" >
    @foreach (var item in Model)
    {
        <div class="content">
            <!--head-->
            <div class="head">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p>@Html.DisplayFor(modelItem=>item.CreateTime)</p>
            </div>
            <div class="body">
                <article>
                    @Html.DisplayFor(modelItem => item.Summary)
                </article>
            </div>
            <div class="foot">
                <button>详情</button>
            </div>

        </div>
    }


    <ul class="pagerList">
        <a href="/Article/ArticleList?pageIndex=0"><button class="float-left" style="margin:5px">首页</button</a>
        @if (ViewBag.PageCount <= 7)
        {
            // 数据实际页码数量小于等于可容纳页码的总量
            for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                if (i == ViewBag.PageIndex + 1)
                {
                    <li class="float-left" style="margin:5px">
                        <span> <button style="background-color:red"> @i </button></span>
                    </li>
                }
                else
                {
                    <li class="float-left" style="margin:5px">
                        <a href="/Article/ArticleList?pageIndex=@(i-1)"><button> @i </button></a>
                    </li>
                }
            }

        }
        else
        {
            // 数据实际页码数量大于可容纳页码的总量
            if (ViewBag.PageIndex <= 7 / 2)
            {

                for (int i = 1; i <= 7; i++)
                {
                    if (i == ViewBag.PageIndex + 1)
                    {
                        <li class="float-left" style="margin:5px">
                            <span><button style="background-color:red"> @i </button> </span>
                        </li>
                    }
                    else
                    {
                        <li class="float-left" style="margin:5px">
                            <a href="/Article/ArticleList?pageIndex=@(i-1)"><button> @i </button> </a>
                        </li>
                    }
                }

            }
            else if ((ViewBag.PageCount - ViewBag.PageIndex - 1) <= 7 / 2)
            {
                for (int i = ViewBag.PageCount - 6; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.PageIndex + 1)
                    {
                        <li class="float-left" style="margin:5px">
                            <a><button style="background-color:red"> @i </button>  </a>
                        </li>
                    }
                    else
                    {
                        <li class="float-left" style="margin:5px">
                            <a href="/Article/ArticleList?pageIndex=@(i-1)"><button> @i </button> </a>
                        </li>
                    }

                }
            }
            else
            {
                for (int i = ViewBag.PageIndex - 7 / 2 + 1; i <= ViewBag.PageIndex + 7 / 2 + 1; i++)
                {
                    if (i == ViewBag.PageIndex + 1)
                    {
                        <li class="float-left" style="margin:5px">
                            <a href="#"><button style="background-color:red"> @i </button> </a>
                        </li>
                    }
                    else
                    {
                        <li class="float-left" style="margin:5px">
                            <a href="/Article/ArticleList?pageIndex=@(i-1)"><button> @i </button></a>
                        </li>
                    }
                }
            }
        }

    </ul>
</section>